/* main tooltip styles */
.tooltip-content {
	display:block;
	position:absolute;
	top:-2px;
	background: url(tooltip-bg.png) 0 0 no-repeat;
	width:343px; /* image width - (left+right) padding */
	height:106px; /* image height - (top+bottom) padding */
	padding:15px 15px 15px;
	z-index:999;
}
.tooltip-content.inverted {
	background-image: url(tooltip-bg-inverted.png);
	background-position:0 100%;
	padding:15px 15px 15px 15px;
}
.tooltip-content.hidden { display:none; }
.tooltip-content .preview {
	float:left;
	margin-right:20px;
	border:1px solid #d8d8d8;
	width:150px;
}
.tooltip-content .body {
	float:left;
	text-align:left;
	display:block;
	width:170px;
	color:#434343;
	cursor:default;
}
.tooltip-content strong {
	display:block;
	padding-bottom: 10px;
	font-weight:bold;
}

.tooltip-content .body a {
	color:#1f9ed3;
	text-decoration:none;
	font-weight:bold;
	display:block;
	padding-top:5px;
	cursor:pointer;
}
.tooltip-content .body em {
	font-style:normal;
}
.tooltip-content .close {
	position:absolute;
	display:block;
	top:8px;
	right:8px;
	padding:3px;
	text-decoration:none;
}

.tooltip-content.inverted .close {
	bottom:8px;
	top:auto;
}